@import "tailwindcss";

body {
	@apply m-0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.2167 0.0015 197.0424);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2167 0.0015 197.0424);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2167 0.0015 197.0424);
	--primary: oklch(0.2435 0 0);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(1 0 0);
	--secondary-foreground: oklch(0.2435 0 0);
	--muted: oklch(1 0 0);
	--muted-foreground: oklch(0.6993 0 0);
	--accent: oklch(1 0 0);
	--accent-foreground: oklch(0.2435 0 0);
	--destructive: oklch(0.6054 0.1359 357.6028);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(1 0 0);
	--input: oklch(1 0 0);
	--ring: oklch(0.8945 0 0);
	--chart-1: oklch(1 0 0);
	--chart-2: oklch(0.8593 0.0265 235.4048);
	--chart-3: oklch(0.7931 0.0359 241.5729);
	--chart-4: oklch(0.72 0.0455 246.3318);
	--chart-5: oklch(0.6235 0.0569 251.3124);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.2167 0.0015 197.0424);
	--sidebar-primary: oklch(0.2435 0 0);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(1 0 0);
	--sidebar-accent-foreground: oklch(0.2435 0 0);
	--sidebar-border: oklch(1 0 0);
	--sidebar-ring: oklch(0.8945 0 0);
	--font-sans:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--radius: 2.05rem;
	--shadow-x: -27px;
	--shadow-y: -11.5px;
	--shadow-blur: 3px;
	--shadow-spread: -27.5px;
	--shadow-opacity: 0.49;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: -27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.24);
	--shadow-xs: -27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.24);
	--shadow-sm:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 1px 2px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 1px 2px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow-md:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 2px 4px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow-lg:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 4px 6px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow-xl:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 8px 10px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow-2xl: -27px -11.5px 3px -27.5px hsl(0 0% 0% / 1.23);
	--tracking-normal: 0em;
	--spacing: 0.23rem;
}

.dark {
	--background: oklch(0.2167 0.0015 197.0424);
	--foreground: oklch(1 0 0);
	--card: oklch(0.2435 0 0);
	--card-foreground: oklch(1 0 0);
	--popover: oklch(0.325 0 0);
	--popover-foreground: oklch(1 0 0);
	--primary: oklch(0.6897 0.1145 182.3628);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.2125 0.0048 17.5334);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.325 0 0);
	--muted-foreground: oklch(0.8945 0 0);
	--accent: oklch(0.4604 0 0);
	--accent-foreground: oklch(1 0 0);
	--destructive: oklch(0.9619 0.009 0.1292);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3329 0 0);
	--input: oklch(0.3979 0 0);
	--ring: oklch(0.6993 0 0);
	--chart-1: oklch(1 0 0);
	--chart-2: oklch(0.8593 0.0265 235.4048);
	--chart-3: oklch(0.7931 0.0359 241.5729);
	--chart-4: oklch(0.72 0.0455 246.3318);
	--chart-5: oklch(0.6235 0.0569 251.3124);
	--sidebar: oklch(0.2435 0 0);
	--sidebar-foreground: oklch(1 0 0);
	--sidebar-primary: oklch(0.7311 0.047 249.495);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.325 0 0);
	--sidebar-accent-foreground: oklch(1 0 0);
	--sidebar-border: oklch(0.3329 0 0);
	--sidebar-ring: oklch(0.5452 0 0);
	--font-sans:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--radius: 2.05rem;
	--shadow-x: -27px;
	--shadow-y: -11.5px;
	--shadow-blur: 3px;
	--shadow-spread: -27.5px;
	--shadow-opacity: 0.49;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: -27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.24);
	--shadow-xs: -27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.24);
	--shadow-sm:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 1px 2px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 1px 2px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow-md:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 2px 4px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow-lg:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 4px 6px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow-xl:
		-27px -11.5px 3px -27.5px hsl(0 0% 0% / 0.49), -27px 8px 10px -28.5px
		hsl(0 0% 0% / 0.49);
	--shadow-2xl: -27px -11.5px 3px -27.5px hsl(0 0% 0% / 1.23);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}
